/* All Html */
*{
    margin: 0;
    padding: 0;
}
/* Global css */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* <!------------------------------ 
||| NavBar section |||
------------------------------> */
.nav-name{
    display: flex;
    justify-content: space-between;
    /* background: rgba(0, 0, 0, 0.116); */
    height: 100px;
    align-items: center;
}
.logo{

}
.logo h1{
    font-size: 24px;
    font-weight: 700;
}
.navbar{
    display: flex;
}
.navbar li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: #000;
    margin-left: 34px;   
    font-size: 16px;
    font-weight: 600;
}

/* <!------------------------------ 
||| Banner section |||
------------------------------>*/
.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 50px;
    justify-content: center;
    align-items: center;
    
    
}
.left-benner{

}
.left-benner h1{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    
}
.left-benner p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}
.btn{
    border: none;
    background: #E02C6D;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    border-radius: 41px;
    padding:10px 25px ;
}
.btn i{
    margin-left: 5px; 
}
.right-benner{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.right-benner img{

}
.right-benner:hover .banner-img{
    transform: scale(0.9) rotate(360deg);
    /* transform: scale(1.1); */
    transition:1s ease-in-out;
}

/* <!------------------------------ 
||| Collection section |||
------------------------------>*/

.collection-title{
    text-align: center;
    margin: 100px 0;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
}
.Collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    
}
.Collection{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding:  25px 30px;
    overflow: hidden;
    width: 300px;
    height: 400px;
    text-align: left;
}
.Collection:hover .img{
    transform: scale(0.9);
    /* transform: scale(1.1); */
    transition:0.7s ease-in-out 0.1s;
    
}
.Collection img{
    width: 300px;
    height: 256px;
}
.Collection h2{
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
}
.Collection h3{
    font-size: 24px;
    font-weight: 500;
    margin: 6px 0;
}
.star {
    margin-bottom: 4px;
}    
.star i{
    color: #FB8200;
}
.star span{
    font-size: 14px;
    font-weight: 700;
    color: #5E6366;
}
.Collection p{
    font-size: 14px;
    font-weight: 700;
    color: #787885;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    margin: 50px 0;
    cursor: pointer;
}
.see-more p{
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    
}
.see-more i{
    margin-left: 5px;
}
/* <!------------------------------ 
||| Clients Says section |||
------------------------------>*/
.client-says{

}
.clients-title{
    text-align: center;
    margin: 50px 0;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
}
.clients{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    margin-bottom: 50px;
}
.client{
    background: rgba(167, 167, 167, 0.384);
    width: 300px;
    height: 250px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.client img{
    width: 94px;
    height: 94px;
}
.client h3{

}
.client p{
    font-size: 16px;
    font-weight: 500;
}


/* <!------------------------------ 
||| Footer section |||
------------------------------>*/
footer{
    background: #0A0826;
    height: 239px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: center;
}
.content p{
    margin: 3px 0;
}
.all-info{

}
.all-info h2{
    font-size: 24px;
    color: #fff;

}
.all-info p{
    font-size: 14px;
    color: #fff;
}
.icon-f{
    text-align: center;
}
.icon-f i{
    background: #FFFFFF; 
    padding: 2px;
    border-radius: 50%;
    margin-top: 17px;
    margin-left: 10px;
}


/* <!------------------------------ 
        ||| Media queries |||
------------------------------>*/

/* Mobile _devices */
@media only screen and (max-width:688px) {
    .logo {
        display: none;
    }
    .navbar{
        display: none;
    }
    .banner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .left-benner{
        text-align: center;
        padding: 15px;
    }
    .left-benner p{
        
    }

    .Collections{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: space-around;
        justify-items: center;
    }
    .clients{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 20px;
    }
}